<mat-toolbar color="primary">
  <mat-icon>map</mat-icon>
  <span>Country Data</span>
</mat-toolbar>

<div class="main-div">
  <mat-card class="map-card">
    <mat-card-header>
      <mat-card-title> Select a country: </mat-card-title>
      <mat-card-subtitle class="tooltipText">{{
        tooltipCountry
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-button-toggle-group>
        <mat-button-toggle (change)="mapToggle('map')" value="map"
          >Map</mat-button-toggle
        >
        <mat-button-toggle (change)="mapToggle('list')" value="list"
          >List</mat-button-toggle
        >
      </mat-button-toggle-group>
    </mat-card-content>
    <mat-card-content *ngIf="mapListToggle === 'map'">
      <app-world-map
        (mouseOverEvent)="handleTooltip($event)"
        (clickEvent)="handleClick($event)"
      ></app-world-map>
    </mat-card-content>
    <mat-card-content *ngIf="mapListToggle === 'list'">
      <ul>
        <li *ngFor="let country of data">
          <p
            class="listText"
            (click)="handleClick(country.name)"
          >
            {{ country.name }}
          </p>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
