<mat-toolbar color="primary">
  <mat-icon>map</mat-icon>
  <span>Country Data</span>
</mat-toolbar>

<div class="main-div">
  <mat-card class="map-card">
    <mat-card-header>
      <mat-card-title> Select a country: </mat-card-title>
      <mat-card-subtitle class="tooltipText">{{
        tooltipCountry
      }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <app-world-map
        (mouseOverEvent)="handleTooltip($event)"
        (clickEvent)="handleClick($event)"
      ></app-world-map>
    </mat-card-content>
  </mat-card>
</div>
