<h2 mat-dialog-title>
  {{ data.name }}
  <a href="{{ getCdcLink() }}" target="__blank">
    <mat-icon class="cdcLink">link</mat-icon>
  </a>
</h2>
<mat-dialog-content>
  <div class="dialogParent">
    <div class="dialogChild">
      <ul>
        <li *ngIf="data.visaRequired">
          US Visa <span class="yesRes">required</span>
        </li>
        <li *ngIf="data.travelAdvisory !== 0">
          Travel Advisory: {{ data.travelAdvisory }}
          <ul>
            <li>{{ getTravelAdvisory() }}</li>
          </ul>
        </li>
        <li>
          Yellow Fever:
          <span *ngIf="data.yellowFever; else noRes" class="yesRes"> Yes </span>
        </li>
        <li>
          Typhoid:
          <span *ngIf="data.typhoid; else noRes" class="yesRes"> Yes </span>
        </li>
        <li>
          Malaria:
          <span *ngIf="data.malaria; else noRes" class="yesRes"> Yes </span>
        </li>
        <li>
          Japanese Encephalitis:
          <span *ngIf="data.jEncephalitis; else noRes" class="yesRes">
            Yes
          </span>
        </li>
        <ng-template #noRes> No </ng-template>
      </ul>
    </div>
    <div class="dialogChild">
      <img src="{{ data.flag }}" class="flagImg" />
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="closeBtn">Close</button>
</mat-dialog-actions>
